@model EncuestasOrt.Materia

@{
    ViewBag.Title = "Borrar Materia";
}

<h2>Borrar Materia</h2>

<h3>¿Está seguro que desea borrar esto?</h3>
<div>
    <h4>Materia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Volver al listado", "Index", new { @class = "glyphicon glyphicon-step-backward" })
        </div>
    }
</div>
