  <!doctype html>
<html class="no-js" lang="en">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SITE TITLE -->
    <title>En Construccion</title>

    <link href="~/Content/Construccion/style.css" rel="stylesheet" />

</head>
<body>
   
                <div class="container">
                     
                    <div class="row">
                        <div class="col-md-12">

                            <form class="subsribbe-box">
                                <div class="animation-container">
                                    <svg viewBox="0 205 600 600">
                                        <symbol id="text">
                                            <text text-anchor="middle" x="50%" y="50%">En Construccion</text>
                                        </symbol>
                                        <use xlink:href="#text" class="text"></use>
                                        <use xlink:href="#text" class="text"></use>
                                        <use xlink:href="#text" class="text"></use>
                                        <use xlink:href="#text" class="text"></use>
                                    </svg>
                                </div>
                                <h1>Estamos Trabajando en el sitio</h1>


                            </form>
                        </div><!-- END OF /. COLUMN -->
                    </div><!-- END OF /. ROW -->
                </div><!-- END OF /. CONTAINER FLUID -->
            

        <script src="~/Content/Construccion/bootstrap.min.js"></script>
        <script src="~/Content/Construccion/jquery-1.11.2.min.js"></script>
        <script src="~/Content/Construccion/rain.js"></script>
        <script src="~/Content/Construccion/custom.js"></script>


</body>
</html>