@model EncuestasOrt.Models.ResultadosGModel
<br />
@Html.HiddenFor(model => Model.idEncuesta, htmlAttributes: new { @id = "Encuesta" })
<input type="button" value="Grafico en Barra" onclick="return GraficoBarra()" />
<input type="button" value="Grafico en Linea" onclick="return GraficoLinea()" />


    <div id="Barra">
        @Html.Action("GetResultadosEncuesta", new { idEncuesta = Model.idEncuesta, fechaDesde = Model.fechaDesde, fechaHasta = Model.fechaHasta })
    </div>
    <div id="Linea">
        @Html.Action("GetResultadosEncuestaLinea", new { idEncuesta = Model.idEncuesta, fechaDesde = Model.fechaDesde, fechaHasta = Model.fechaHasta })
    </div>

<script>
    $(document).ready(function () {
        $("#Barra").show();
        $("#Linea").hide();
    });


    GraficoBarra = function () {
        $("#Barra").show();
        $("#Linea").hide();
    }
    GraficoLinea = function () {

        $("#Linea").show();
        $("#Barra").hide();
    

    }




</script>


