@model EncuestasOrt.Models.ResultadosGModel

<br /><br />
<div id="reportrange" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
    <span></span> <b class="caret"></b>
</div>
<input type="hidden" name="from" id="from">
<input type="hidden" name="to" id="to">
<input type="button" id="GetCalenderDate" value="Filtrar por fechas" onclick="return getDate(); " />


<br /><br />
<br /><br />

@Html.HiddenFor(model => Model.idEncuesta, htmlAttributes: new { @id = "Encuesta" })


<div id="resultados">

    @Html.Action("GetResultadosEncuesta", new { idEncuesta = Model.idEncuesta, fechaDesde = Model.fechaDesde, fechaHasta = Model.fechaHasta })
    

</div>



<link href="~/Content/DateRangePicker/daterangepicker.css" rel="stylesheet" />
<script src="~/Content/DateRangePicker/moment.js"></script>
<script src="~/Content/DateRangePicker/daterangepicker.js"></script>
    <script type="text/javascript">
        var startDate;
        var endDate;
    $(document).ready(function() {
        $('#reportrange').daterangepicker(
           {
               startDate: moment().subtract('days', 29).format('DD/MM/YYYY'),
               endDate: moment().format('DD/MM/YYYY'),
               minDate: '01/01/2014',
               maxDate: '12/31/2020',
               dateLimit: { days: 60 },
               showDropdowns: true,
               showWeekNumbers: true,
               timePicker: false,
               timePickerIncrement: 1,
               timePicker12Hour: true,
               ranges: {
                   'Hoy': [moment(), moment()],
                   'Ayer': [moment().subtract('days', 1), moment().subtract('days', 1)],
                   'Ultimos 7 Dias': [moment().subtract('days', 6), moment()],
                   'Ultimos 30 Dias': [moment().subtract('days', 29), moment()],
                   'Este Mes': [moment().startOf('month'), moment().endOf('month')],
                   'Ultimo Mes': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
               },
               opens: 'left',
               buttonClasses: ['btn btn-default'],
               applyClass: 'btn-small btn-primary',
               cancelClass: 'btn-small',
               format: 'DD/MM/YYYY',
               separator: ' to ',
               locale: {
                   applyLabel: 'Submitir',
                   fromLabel: 'Desde',
                   toLabel: 'Hasta',
                   customRangeLabel: 'Personalizar Rango',
                   daysOfWeek: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi','Sa'],
                   monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                   firstDay: 1
               }
           },
           function (start, end) {
               $('#reportrange span').html(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
               $('#to').val(start.format('DD/MM/YYYY'));
               $('#from').val(end.format('DD/MM/YYYY'));
               startDate = start;
               endDate = end;
           }
        );
        //Set the initial state of the picker label
        $('#reportrange span').html(moment().subtract('days', 29).format('DD/MM/YYYY') + ' - ' + moment().format('DD/MM/YYYY'));

 

    });
    </script>

<script>
    function getDate() {
        var startDate = $('#reportrange').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var endDate = $('#reportrange').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var encuesta = $('#Encuesta').val();

        $.ajax({
            type: "GET",
            url: "@Url.Action("GetResultadosEncuesta", "Encuestas")",
            data: { "id": encuesta, "fechaDesde": startDate, "fechaHasta": endDate },
            async: true,
        success: getResultadosSuccess,
        error: getResultadosError
    });

    }

    function getResultadosSuccess(result) {
        $('#resultados').html(result);

    }
    function getResultadosError() {
        swal("Oops...", "Error al obtener resultado", "error");

    }
    
</script>

 