@model EncuestasOrt.Opcion

@{ Layout = null; }

<div class='editorRow'>
@using (Html.BeginCollectionItem("Opcion"))
{ 
        <div id="optionRow" class="btn-group">

            @Html.HiddenFor(model => model.Id, new { @id = "OpcionID" })

            @Html.HiddenFor(model => model.PreguntaID)
                        
            @Html.TextBoxFor(model => model.valor)
            <a href="#" id="deleteRow" class="deleteRow"><i class="glyphicon glyphicon-trash"></i>Borrar</a>
        </div>
}
</div>
