@model DataTable
@using System.Data



    <script type="text/javascript" src="@Url.Content("~/Scripts/Chart.js")"></script>
    <script type="text/javascript">


        // Load the Visualization API and the piechart package.
        google.load('visualization', '1.0', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {
            // Create the data table.

            var data = new DataTable();
            var result = new [];
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([
                @{int count = 0;}
                @foreach (DataRow row in ((DataTable)Model).Rows)
                    {
                        if (count > 0)
                        {

                        @Html.Raw(",['" + row[0] + "'," + row[1] + "]");
                        var field = row[0].ToString();
                        var field1 = row[1].ToString();

                    }
                    else
                    {
                        @Html.Raw("['" + row[0] + "'," + row[1] + "]");

                        }
                        count++;
                    }

            ]);



            @foreach (DataRow row in ((DataTable)Model).Rows)
            {
                if (count > 0)
                {
                    //string[] arrray = dt.Rows.OfType<DataRow>().Select(k => k[0].ToString()).ToArray();
                    //http://www.codeproject.com/Questions/722877/DataTable-to-string-array

                    var field = row[0].ToString();
                    var field1 = row[1].ToString();

                }
                else
                {
                    var field = row[0].ToString();
                    var field1 = row[1].ToString();
                }
                
            };

           





                console.log(field, field1);
                console.log(data);

            var data1 = {
                labels: [data],
                datasets: [{
                    label: '# of Votes',
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1,
                    data: resultsArray
                }]
            }


            // Instantiate and draw our chart, passing in some options.

            var chart = new Chart(document.getElementById('chart_div_@ViewBag.IdChart')).bar(data1);
            console.log();
            chart.draw(data, options);
        }


    </script>



<div id="chart_div_@ViewBag.IdChart" style="width: 50%; margin: 0px auto;"></div>

