@model DataTable
@using System.Data


<canvas id="chart_div_@ViewBag.IdChart" width="450" height="600"></canvas>

<!--<script type="text/javascript" src="@Url.Content("~/Scripts/Chart.js")"></script>-->
<script>

        var ctx = document.getElementById('chart_div_@ViewBag.IdChart').getContext("2d");


               console.log("entre aca1");
               var data1 = {
                labels: ["uno", "dos", "tres","cuatro"],
                datasets: [{
                    label: "# of Votes",
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1,
                    data: [1, 3, 4, 5]
                     }]
            }


                 // Instantiate and draw our chart, passing in some options.


                 var chart = new Chart(ctx).Bar(data1);
                 console.log("OTRO");

</script>


<!--<div id="chart_div_@ViewBag.IdChart" style="width: 50%; margin: 0px auto;"></div> -->
