@model EncuestasOrt.Models.ResultadosGModel




@foreach (var item in Model.preguntas)
{


    <div class="panel-group" id="accordion-preg-@item.Id">

        <div class="panel panel-primary animated zoomIn">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-preg-@item.Id" href="#@item.Id">@item.Descripcion</a>
                </h4>
            </div>
            <div id="@item.Id">
                <div class="panel-body">
                    @Html.Action("GetGraficoPregunta", new { idEncuesta = Model.idEncuesta, idPregunta = item.Id, fechaDesde = Model.fechaDesde, fechaHasta = Model.fechaHasta })
                </div>
            </div>
        </div>

    </div>

}
