h2 {
    color: white;
}

p {
    color: white;
}

body {
    background: url("/Content/MiTemplate/Imagenes/loginbackgroundmobile.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.panel-default {
    opacity: 0.9;
    margin-top: 30px;
}

.form-group.last {
    margin-bottom: 0px;
}

.row-centered {
    text-align: center;
}

.card-container.card {
    width: 350px;
    padding: 40px 40px;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

.row-centered {
    text-align: center;
}



/* For mobile devices */
@media only screen and (max-width: 767px) {
    body {
        /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
        background-image: url("/Content/MiTemplate/Imagenes/loginbackgroundmobile.jpg");
    }
}
