
@model EncuestasOrt.Models.ResultadosPlantillasModel
<br />

@Html.HiddenFor(model => Model.idPlantilla.Value, htmlAttributes: new { @id = "idPlantilla" })

<input type="button" value="Grafico en Barra" onclick="return GraficoBarra()" />
<input type="button" value="Grafico en Linea" onclick="return GraficoLinea()" />


<div id="Barra">
    @*@Html.Action("GetResultadosEncuestaBarraP", new { idEncuestas = Model.idEncuesta, idEncuestaSegundoRango = Model.idEncuestaSegundoRango, Preguntas=Model.preguntas, Plantillaid= Model.idPlantilla })*@
</div>
<div id="Linea">
    @Html.Action("GetResultadosEncuestaLineaP", new { idEncuestas = Model.idEncuesta, idEncuestaSegundoRango = Model.idEncuestaSegundoRango, Preguntas = Model.preguntas, Plantillaid = Model.idPlantilla })
</div>

<script>
    $(document).ready(function () {
        $("#Barra").show();
        $("#Linea").hide();
    });
    var url = window.location.hostname;

    GraficoBarra = function () {
        $("#Barra").show();
        $("#Linea").hide();
    }
    GraficoLinea = function () {

        $("#Linea").show();
        $("#Barra").hide();


    }




</script>


